@import url("../colors.css");
@import url("waybar-module.css");
@import url("../workspace/workspace.css");

#waybar {
    background: linear-gradient(
        90deg,
        @panel_gradient_start, 
        @panel_gradient_middle,
        @panel_gradient_end
    );
    border-bottom: 1px solid @border_bottom;
}

window#waybar {
    border: 1px solid @bg_main;
    color: @text_main;
    font-family: "JetBrains Mono", "Noto Sans", sans-serif;
    font-size: 13px;
}

#window,
#workspace,
#clock,
#network,
#pulseaudio,
#battery,
#tray{
    margin: 6px 4px;
}
