@define-color bg_main rgba(14, 24, 35, 0.88);
@define-color bg_hover rgba(255, 255, 255, 0.08);
@define-color bg_widget rgba(255, 255, 255, 0.06);
@define-color border_color rgba(255, 255, 255, 0.08);
@define-color text_main rgba(255, 255, 255, 0.9);
@define-color workspace_text #52a8ff;
@define-color text_dim rgba(255, 255, 255, 0.4);
@define-color accent_blue #52a8ff;


#waybar {
    background: linear-gradient(
        90deg,
        rgba(25, 25, 30, 0.85),
        rgba(25, 25, 50, 0.65),
        rgba(40, 10, 30, 0.65)
    );
    border-bottom: 1px solid rgba(9, 9, 10, 0.295);
}

window#waybar {
    border: 1px @bg_main;
    color: @text_main;
    font-family: "JetBrains Mono", "Noto Sans", sans-serif;
    font-size: 13px;
}

.modules-left {
    margin-left: 12px;
    padding-right: 12px;
}
.modules-center{
    padding-left: 24px;
    padding-right:24px;
}

.modules-right{
    margin-left:12px;
    margin-right: 12px;
}

#workspaces {
    background: transparent;
    padding: 0 6px;
}

#workspaces button {
    all: unset;
    min-width: 34px;
    min-height: 28px;

    color: rgba(255,255,255,0.40);
    font-family: "JetBrains Mono";
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.08em;

    transition: all .25s ease;
}


#workspaces button.active {
    color: #4d88ff;
}

#workspaces button.active label {
    text-shadow: 0 0 6px rgba(77,136,255,.8);
}


#workspaces button {
    border: none;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    color: #5b96ff;
    border-bottom: 2px solid #5b96ff;
    box-shadow:
        inset 0 -1px 0 rgba(255,255,255,.15),
        0 8px 12px -8px rgba(91,150,255,.7);
}


#window,
#workspace,
#clock,
#network,
#pulseaudio,
#battery,
#tray{
    margin: 6px 4px;
}
